################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RestClient/RestClient/obj
/RestClient/RestClient/bin/Debug/net6.0
/RestClient/.vs/RestClient/v17
